<!DOCTYPE html>
<html lang="en">
    <head>
        <!--headPart-->
        <%- include('./partials/_headPart') %>
        <!--/headPart-->
        <!--Mi hoja de estilos-->
        <link rel="stylesheet" href="/css/register.css">
    </head>
    <body>

        <!--header-->
        <%- include('./partials/_header') %>
        <!--/header-->

        <main>

            <section class="registro">
                
                <h2 class="texto-registro">INFORMACION DE SU CUENTA</h2>
                <hr>
                <div class="formulario">
                    <h3 class="texto-formulario">Hola <%= user.name %>!</h3>
                    <div class="imagen-formulario" >
                        <img src="/images/users/<%= user.img %>" alt=<%= user.name %>>
                    </div>
                    <div class="container-inputs">
                        <div class="inputs-1">
                            <div class="elemento">
                                <label>Nombre</label>
                                <input type="text" name="nombre" class="control" placeholder="John" value="<%= user.name %>" readonly>
                            </div>
                            <div class="elemento">
                                <label>Apellido</label>
                                <input type="text" name="apellido" class="control" placeholder="Doe" value="<%= user.surname %>" readonly>
                            </div>
                            <div class="elemento">
                                <label>Documento</label>
                                <input type="number" name="dni" class="control" placeholder="11111111" value="<%= user.document %>" readonly>
                            </div>
                        </div>
                        <div class="inputs-2">
                            <div class="elemento">
                                <label>País</label>
                                <input type="text" name="pais" class="control" value="<%= user.country %>" readonly>
                            </div>
                            <div class="elemento">
                                <label>Domicilio</label>
                                <input type="text" name="domicilio" class="control" placeholder="Alberdi 1111" value="<%= user.address %>" readonly>
                            </div>
                            <div class="elemento">
                                <label>Fecha de nacimiento</label>
                                <input type="date" name="nacimiento" class="control" placeholder="Fecha nacimiento" value="<%= user.birthdate %>" readonly>
                            </div>
                        </div>
                        <div class="inputs-3">
                            <div class="elemento">
                                <label>E-mail</label>
                                <input type="email" name="email" class="control" placeholder="ejemplo@dominio.com" value="<%= user.email %>" readonly>
                            </div>
                            <div class="elemento">
                                <label>Contraseña</label>
                                <input type="password" name="password" class="control" placeholder="******" value="<%= user.password %>" readonly>
                            </div>
                        </div>
                    </div>
                    <div><button class="boton-cerrar-sesion-formulario" type="button">Cerrar sesión</button></div>
                    <div><button class="boton-modificar-formulario" type="button" onclick="window.location='/users/edit/<%= user.id_user %>'">Modificar</button></div>
                    <form action="/users/delete/<%= user.id_user %>?_method=DELETE" method="POST" id="form-baja">
                        <div><button class="boton-eliminar-formulario" type="submit">Darse de baja</button></div>
                    </form>
                </div>

            </section>

        </main>

        <!--footer-->
        <%- include('./partials/_footer') %>
        <!--/footer-->

        <!-- JQuery -->
        <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
        <script src="/js/cartEffect.js"></script>
        <script src="/js/cartEffectCard.js"></script>
        <!-- SweetAlert2 -->
        <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script src="/js/alertUserProfile.js"></script>
    </body>
</html>